services:
  weaviate:
    image: semitechnologies/weaviate:1.34.0
    restart: always
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
      - DEFAULT_VECTORIZER_MODULE=text2vec-huggingface
      - ENABLE_MODULES=text2vec-huggingface
      - HUGGINGFACE_APIKEY=${HUGGINGFACE_APIKEY}
